<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source
  ~ Copyright [2011], Red Hat, Inc., and individual contributors
  ~ by the @authors tag. See the copyright.txt in the distribution for a
  ~ full listing of individual contributors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:javaee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

    <bean id="springBeanWithCdiDeps" class="org.jboss.seam.spring.test.injection.SpringBeanInjectedWithCdiBean">
        <property name="cdiBean" ref="cdiBean"/>

        <property name="secondCdiBean">
            <bean class="org.jboss.seam.spring.injection.CdiBeanFactoryBean">
                <property name="beanManager">
                    <javaee:jndi-lookup jndi-name="java:comp/BeanManager" expected-type="javax.enterprise.inject.spi.BeanManager"/>
                </property>
                <property name="cdiBeanLookup">
                    <bean class="org.jboss.seam.spring.injection.TypeSafeCdiBeanLookup">
                        <constructor-arg value="org.jboss.seam.spring.test.injection.SecondCdiBean"/>
                        <property name="qualifiers">
                            <list>
                                <bean class="org.jboss.seam.spring.injection.TypeSafeCdiBeanLookup$Qualifier">
                                    <property name="className" value="org.jboss.seam.spring.test.injection.CdiQualifier"/>
                                </bean>
                            </list>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="cdiBean" class="org.jboss.seam.spring.injection.CdiBeanFactoryBean">
        <property name="beanManager">
            <javaee:jndi-lookup jndi-name="java:comp/BeanManager" expected-type="javax.enterprise.inject.spi.BeanManager"/>
        </property>
        <property name="cdiBeanLookup">
            <bean class="org.jboss.seam.spring.injection.TypeSafeCdiBeanLookup">
               <constructor-arg value="org.jboss.seam.spring.test.injection.CdiBean"/>
               <!--<property name="qualifiers">-->
                   <!--<list>-->
                       <!--<bean class="org.jboss.seam.spring.injection.TypeSafeCdiBeanLookup$Qualifier">-->
                           <!--<property name="className" />-->
                       <!--</bean>-->
                   <!--</list>-->
               <!--</property>-->
            </bean>
        </property>
    </bean>




</beans>